<h3>Listado de Ingresos</h3>
<div id="preview" class="header-content valign-wrapper lafar-light">
 <!-- <img class="image-user circle" src="assets/images/userlafar.png">-->
  <div class="box">
    <div class="container-1">
        <span class="icon"><i class="mdi-action-search"></i></span>
        <input type="search" id="search" name="search" placeholder="Buscar Ingresos..." [(ngModel)]="filter"/>
    </div>
  </div>
 <div class="nombre-user"><p>&nbsp;</p></div>

</div>
<br>
<div class="contenido-principal">
  <mz-card>
    <mz-card-content>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
          <th>Nro</th>
          <th (click)="sort('codigo')">Codigo
            <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='codigo'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
          </th>
          <th (click)="sort('fecha')">Fecha
            <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='fecha'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
          </th>
          <th style= "text-align:right;">Opciones
            <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='estado'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingreso of ingresos | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{ingreso.id_ingreso}}</td>
          <td>{{ingreso.codigo}}</td>
          <td>{{ingreso.fecha}}</td>
          <td style="text-align:right;">
            <a [flat]="true" mz-button id="btn-dropdown-basic{{ingreso.id_ingreso}}" href="javascript:void(0)"><i class="mdi-navigation-more-vert"></i></a>
            <mz-dropdown
              [id]="'dropdown-basic'"
              [dropdownButtonId]="'btn-dropdown-basic' + ingreso.id_ingreso"
            >
              <mz-dropdown-item><a href="javascript:void(0)" >Ver</a></mz-dropdown-item>
              <mz-dropdown-item><a href="javascript:void(0)">Modificar</a></mz-dropdown-item>
              <mz-dropdown-item><a href="javascript:void(0)">Eliminar</a></mz-dropdown-item>
            </mz-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div> 
</mz-card-content>
</mz-card>    
</div><!--contenido principal-->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large red" [routerLink]="['/sacc/datos/ingresos/add']" >
<!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
  <i class="large mdi-editor-mode-edit"></i>
</a>
</div>