<mz-parallax class="header-background" [height]="170">
    <img src="assets/images/dark-material-bg.jpg">
</mz-parallax>
  
<div id="preview" class="header-content valign-wrapper lafar-light">
    <img class="image-user circle" src="assets/images/userlafar.png">
    <div class="nombre-user">INGRESOS</div>

    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="mdi-action-search"></i></span>
            <input type="search" id="search" name="search" placeholder="Buscar Ingresos..." [(ngModel)]="filter"/>
        </div>
    </div>
</div>
<div class="contenido-principal">
  <mz-card>
    <mz-card-content>
  <div class="row">
    <table class="bordered">
      <thead>
        <tr>
          <th>Nro</th>
          <th (click)="sort('codigo')">Codigo
            <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='codigo'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
          </th>
          <th (click)="sort('fecha')">Fecha
            <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='fecha'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
          </th>
          <th style= "text-align:right;">
            <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='opciones'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingreso of ingresos | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <td>{{ingreso.id_ingreso}}</td>
          <td>{{ingreso.codigo}}</td>
          <td>{{cambiaFormatofecha(ingreso.fecha)}}</td>
          <td ><a [routerLink]="['/sacc/datos/ingresos/ver',ingreso.id_ingreso]" >.:Ver Detalles:.</a>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div> 
</mz-card-content>
</mz-card>    
</div><!--contenido principal-->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large green" [routerLink]="['/sacc/datos/ingresos/add']" >
<!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
  <i class="large mdi-content-add"></i>
</a>
</div>