
<div class="row" style="margin-top: 10px;">

    <div class="parentCard col xl2 l2 m2 s4">
        
        <div class="item-menu-apps" style = "background: #fff;">
            <a [routerLink]="['/sacc/asignacion/mp']">
                <div class="card-content">
                    <img src="assets/images/sacc/mp.png" class="imagen-app">
                </div>
            </a>
        </div>
    </div>
    <div class="parentCard col xl2 l2 m2 s4">
        
        <div class="item-menu-apps" style = "background: #fff;">
            <a [routerLink]="['/sacc/asignacion/pt']">
                <div class="card-content">
                    <img src="assets/images/sacc/pt.png" class="imagen-app">
                </div>
            </a>
        </div>
    </div>

    <div class="parentCard col xl2 l2 m2 s4">
        <div class="item-menu-apps" style = "background: #fff;">
            <a [routerLink]="['/sacc/asignacion/parm']">
                <div class="card-content">
                    <img src="assets/images/sacc/parametros.png" class="imagen-app">
                </div>
            </a>
        </div>
    </div>

    <div class="parentCard col xl2 l2 m2 s4">
        <div class="item-menu-apps" style = "background: #fff;">
            <a [routerLink]="['/sacc/asignacion/carac']">
                <div class="card-content">
                    <img src="assets/images/sacc/caracteristicas.png" class="imagen-app">
                </div>
            </a>
        </div>
    </div>
    
</div>