
<div class="section">
<!-- statr products list -->
<div id="products" class="row">
    <div class="product-sizer"></div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="javascript:void(0);" class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2">CC</a>
                <a href="javascript:void(0);" (click)="ModalViewPublicacion.open()"><img src="assets/images/docs/docs2.png" alt="product-img"></a>
            </div>
            
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">
                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="javascript:void(0);" class="grey-text text-darken-4" (click)="ModalViewPublicacion.open()">Titulo Publicacion 1</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  green accent-2">GH</a>
                

                <a href="#"><img src="assets/images/docs/docs3.jpg" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  green accent-2">GH</a>
                

                <a href="#"><img src="assets/images/docs/docs4.jpg" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  blue accent-2">ADM</a>
                <a href="#"><img src="assets/images/docs/docs5.jpg" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">ADM</a>
                

                <a href="#"><img src="assets/images/docs/docs3.jpg" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  pink accent-2">ADM</a>
                

                <a href="#"><img src="assets/images/docs/docs4.jpg" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  cyan accent-2">PR</a>
                

                <a href="#"><img src="assets/images/docs/docs5.jpg" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">

                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

    <div class="product col s4 xl3 m6 s12">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="#" class="btn-floating btn-large btn-price waves-effect waves-light  green accent-2">GH</a>
                <a href="#"><img src="assets/images/docs/docs2.png" alt="product-img">
                </a>
            </div>
            <ul class="card-action-buttons">
                <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
                </li>
                <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
                </li>
            </ul>
            <div class="card-content">
                <div class="row">
                    <div class="col s8">
                        <p class="card-title grey-text text-darken-4"><a href="#" class="grey-text text-darken-4">Apple MacBook Pro A1278 13"</a>
                        </p>
                    </div>
                    <div class="col s4 no-padding">
                        <a href=""></a><img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                        
                    </div>
                </div>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>
    

</div>
    
<!-- Floating Action Button -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" (click)="AddViewPublicacion.open()">
    <!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
        <i class="large mdi-editor-mode-edit"></i>
    </a>
</div>
<!-- Floating Action Button -->

</div>

<form id="formPublicacion" name = "formPublicacion" #formPublicacion="ngForm" (ngSubmit)="onSubmit()" novalidate>
<mz-modal #AddViewPublicacion
[fixedFooter]="true" 
[bottomSheet]="false" 
[fullscreen]="false" 
[options]="modalOptions">
<mz-modal-header>
    <nav class="lafar-bg-blue">
        <div class="nav-wrapper">
            <div class="left col s12 m5 l5">
            <ul>
                <li><a href="javascript:void(0);" (click)="AddViewPublicacion.close()" class="email-menu"><i class="modal-action modal-close  mdi-hardware-keyboard-backspace"></i></a>
                </li>
                <li><a href="javascript:void(0);" class="email-type">Publicaciones</a>
                </li>
            </ul>
            </div>
            <div class="col s12 m7 l7 hide-on-med-and-down">
            <ul class="right">
                <li><a href="javascript:void(0);"><i class="mdi-editor-attach-file"></i></a>
                </li>
                <!--<li><a href="javascript:void(0);"><i class="modal-action modal-close  mdi-content-send"></i></a></li>-->
            </ul>
            </div>

        </div>
    </nav>
</mz-modal-header>
<mz-modal-content>
    <div class="container contenido-publicacion">
        
            <div class="section">
                <div class="row">
                    <mz-input-container class="col s12 m12">
                        <input mz-input mz-validation required
                        id="titulo"
                        name="titulo"
                        type="text"
                        [errorMessageResource]="errorMessages.titulo"
                        [label]="'Título de Publicación'"
                        [placeholder]="'Ingrese el Titulo de Esta publicación'"
                        [(ngModel)]="model.titulo"
                        #titulo="ngModel" 
                        required>
                    </mz-input-container>

                    <mz-datepicker-container class="col s12 m12">
                            <input mz-datepicker mz-validation
                            id="fechaCaduca"
                            name="fechaCaduca"
                            type="text"
                            [errorMessageResource]="errorMessages.fechaCaduca"
                            [label]="'Fecha de Caducidad'"
                            [options]="options"
                            [placeholder]="'Ingrese Fecha de caducidad de esta publicación'"
                            [(ngModel)]="model.fechaCaduca"
                            formcontrolname = "modelFechaCaduca"
                            #fechaCaduca="ngModel" 
                            required>
                    </mz-datepicker-container>
                </div>
            </div>

    </div>
</mz-modal-content>
<mz-modal-footer>
    <button style="min-width:100%;" mz-button [disabled]="!formPublicacion.valid" type="submit" class="btn waves-effect blue accent-3 col s12 white-text">Publicar <i class="mdi-content-send"></i></button>
</mz-modal-footer>
</mz-modal>
</form>

<mz-modal #ModalViewPublicacion
[fixedFooter]="false" 
[bottomSheet]="true" 
[fullscreen]="true" 
[options]="modalOptions">
<mz-modal-content>
    <iframe src="https://docs.google.com/viewer?url=http://intranet.lafar.net/arch/archpdf.pdf&embedded=true"></iframe>
</mz-modal-content>
<mz-modal-footer style="display:none;">

</mz-modal-footer>
</mz-modal>


<ngx-smart-modal #myModal [identifier]="'myModal'">
    <h1>Title</h1>
    <p>Some stuff...</p>
  
    <button (click)="myModal.close()">Close</button>
  </ngx-smart-modal>