<div id="products" class="row">
  <div class="product-sizer"></div>

  <div class="product col s4 xl3 m6 s12">
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
              <a href="javascript:void(0);" class="btn-floating btn-large btn-price waves-effect waves-light  red accent-2">CC</a>
              <a href="javascript:void(0);" (click)="ModalViewPublicacion.open()"><img src="assets/images/docs/docs2.png" alt="product-img"></a>
          </div>
          
          <ul class="card-action-buttons">
              <li><a class="btn-floating waves-effect waves-light green accent-4"><i class="mdi-av-repeat"></i></a>
              </li>
              <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
              </li>
              <li><a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
              </li>
          </ul>
          <div class="card-content">
              <div class="row">
                  <div class="col s8">
                      <p class="card-title grey-text text-darken-4"><a href="javascript:void(0);" class="grey-text text-darken-4" (click)="ModalViewPublicacion.open()">Titulo Publicacion 1</a>
                      </p>
                  </div>
                  <div class="col s4 no-padding">
                      <img src="assets/images/notices/amazon.jpg" alt="amazon" class="responsive-img">
                      
                  </div>
              </div>
          </div>
          <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><i class="mdi-navigation-close right"></i> Apple MacBook Pro A1278 13"</span>
              <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
      </div>
  </div>

</div>
