<mz-parallax class="header-background" [height]="170">
  <img src="assets/images/dark-material-bg.jpg">
</mz-parallax>
<div id="preview" class="header-content valign-wrapper lafar-light">
  <img class="image-user circle" src="assets/images/userlafar.png">
  <div class="nombre-user">ADICIONAR INGRESO</div>
</div>
 <!-- <div class="box">
      <div class="container-1">-->
        
            
          <!--</div>
        </div>-->
  
 <div class="contenido-principal">
       <div class="contenedor-tabla">
            <div class="fixed-action-btn" style="top: 220px; right: 24px;">
                <a class="btn-floating btn-large blue" (click) = "modalNuevoItem.open()">
              <!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
                <i class="large mdi-content-add"></i>
              </a>
              </div>
          <mz-card>
              <mz-card-content>
                  <div class="row"> 
                      <mz-input-container class="col s12 m4">
                          <input mz-input required
                          id="codigo_ingreso"
                          name="codigo_ingreso"
                          type="text"
                          length="80"
                          width="80"
                          [label]="'Codigo de Ingreso'"
                          [(ngModel)]="codingreso"
                          (change) = "update()"
                          >
                      </mz-input-container>
                     
                      <mz-datepicker-container class="col s12 m4">
                          <input mz-datepicker
                            [label]="'Fecha de Ingreso'"
                            [options]="options"
                            id="fecha_ingreso"
                            type="text"
                            [autofocus]="true"
                            [(ngModel)]= "fechaingreso" >
                        </mz-datepicker-container>
                        <div style="padding: 10px 10px" class="col s12 m4">
                          <ng2-completer 
                            (selected)="onSelectProveedor($event)"    
                            [datasource]="proveedorData"
                            [minSearchLength]="0"
                            [maxChars]="4"
                            [inputClass]="'form-control'"
                            [placeholder]="'Seleccione el proveedor'"
                            [matchClass]="'match'"
                            [textSearching]="false"
                            [(ngModel)]="descproveedor">
                          </ng2-completer>
                        </div>
                        <!--<ng2-completer [(ngModel)]="searchStr" [dataService]="dataService" [minSearchLength]="0"></ng2-completer>-->
                     </div>   
            <div class="row">
              <table class="bordered">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th >Codigo
                      <span></span>
                    </th>
                    <th >Descripcion
                      <span></span>
                    </th>
                    <th >Cantidad
                        <span></span>
                      </th>
                      <th >Lote
                          <span></span>
                      </th>
                      <th >Fecha Vmto.
                          <span></span>
                      </th>
                    <th style= "text-align:right;">Opciones
                      <span></span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor = "let detalleing of detalles" >
                    <td>{{detalleing.id_detin}}</td>
                    <td>{{detalleing.cod_producto}}</td>
                    <td>{{detalleing.producto}}</td>
                    <td>{{detalleing.cantidad}}</td>
                    <td>{{detalleing.lote}}</td>
                    <td>{{detalleing.fecha_vencimiento}}</td>
                    <td style="text-align:right;">
                      <a mz-button id="btn-dropdown" href="javascript:void(0)"><i class="mdi-navigation-more-vert"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> 
            <hr>
            <div class="row">
                <mz-textarea-container class="col s12 m12">
                    
                    <textarea mz-textarea
                      [label]="'Glosa'"
                      id="glosa"
                      length="250"
                      [(ngModel)]="glosaingreso"></textarea>
                  </mz-textarea-container>
                  
            </div>
          </mz-card-content>
          </mz-card>    
      </div>
    </div> 
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button class="btn-floating btn-large green" 
         id="btnguardaingreso" 
         (click)= "guardaIngreso()"
         [disabled] = "esInvalido()" >
      <!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
        <i class="large mdi-action-done"></i>
      </button>
      </div>
     
      

<mz-modal #modalNuevoItem [fixedFooter]="true" [bottomSheet]="false">
    <mz-modal-header>
     <h4 style="text-align:center;">Nuevo Item</h4> 
    </mz-modal-header>
    <mz-modal-content>
<div>
  <div class="row">
      <div style="padding: 10px 10px" class="col s12 m8">
          <ng2-completer 
            (selected)="onSelectProducto($event)"    
            [datasource]="productoData"
            [minSearchLength]="0"
            [maxChars]="30"
            [inputClass]="'form-control'"
            [placeholder]="'Seleccione el producto'"
            [matchClass]="'match'"
            [autofocus]="true"
            [textSearching]="false"
            [(ngModel)]="descprod"
            >
            
          </ng2-completer>
        </div>
      <mz-input-container class="col s12 m4">
      <input mz-input required
      id="cantidad"
      name="cantidad"
      type="number"
      step="any"
      length="80"
      width="80"
      [label]="'Cantidad'"
      [(ngModel)] = "cantdet"
     >
    </mz-input-container>
</div>
<div class="row">
  <mz-input-container  class="col s12 m8">
      <input mz-input required
      id="lote"
      name="lote"
      type="text"
      length="80"
      width="80"
      [label]="'Lote'"
      [(ngModel)]= "loteprod"
      >
  </mz-input-container>
  <mz-datepicker-container class="col s12 m4">
      <input mz-datepicker
        [label]="'Fecha de vencimiento'"
        [options]="options"
        id="fecha_vmto"
        placeholder="Elija la fecha de Vencimiento"
        type="text"
        [(ngModel)]="fechavenprod"
        >
    </mz-datepicker-container>
    
</div>
</div>
</mz-modal-content>
<mz-modal-footer>
    <div class="fixed-action-btn" style="bottom: 20px; right: 20px;">
        <button class="btn-floating btn-large green" 
               (click) = "aadDetalle($event)" mz-modal-close
               [disabled] = "esInvalidoDet()">
      <!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
        <i class="large mdi-action-done"></i>
      </button>
      </div>
      <div class="fixed-action-btn" style="bottom: 20px; right: 100px;">
          <button class="btn-floating btn-large red" mz-modal-close >
        <!--<a class="btn-floating btn-large red" (click)="ngxSmartModalService.getModal('myModal').open()">-->
          <i class="large mdi-content-undo"></i>
        </button>
        </div>
</mz-modal-footer>
</mz-modal>