<mz-parallax class="header-background" [height]="170">
  <img src="assets/images/dark-material-bg.jpg">
</mz-parallax>

<div id="preview" class="header-content valign-wrapper lafar-light">
  <img class="image-user circle" src="assets/images/userlafar.png">
  <div class="nombre-user">AREAS DE TRABAJO</div>

  <div class="box">
    <div class="container-1">
        <span class="icon"><i class="mdi-action-search"></i></span>
        <input type="search" id="search" name="search" placeholder="Buscar Areas..." [(ngModel)]="filter"/>
    </div>
  </div>
</div>

<div class="contenido-principal">
<div class="row">
  <table class="bordered">
    <thead>
      <tr>
        <th>Nro</th>
        <th (click)="sort('nombre')">Nombre del Área
          <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='nombre'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
        </th>
        <th (click)="sort('estado')">Estado
          <span class="mdi-hardware-keyboard-arrow-down" *ngIf="key =='estado'" [ngClass]="{'mdi-hardware-keyboard-arrow-up':reverse,'mdi-hardware-keyboard-arrow-down':!reverse}"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas | orderBy: key : reverse | filter:filter | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <td>{{area.id}}</td>
        <td>{{area.nombre}}</td>
        <td>
          <div class="row">
            <div class="col s12 m4 center">
              <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!" class="-text">one</a>
                </li>
                <li><a href="#!" class="-text">two</a>
                </li>
                <li><a href="#!" class="-text">three</a>
                </li>
              </ul>
              <a class="dropdown-button btn-floating btn-large waves-effect waves-light " href="#!" data-activates="dropdown2"><i class="mdi-editor-vertical-align-bottom"></i></a>
              <ul id="dropdown2" class="dropdown-content">
                <li><a href="#!" class="-text">.zip</a>
                </li>
                <li><a href="#!" class="-text">.tar</a>
                </li>
                <li><a href="#!" class="-text">.exe</a>
                </li>
              </ul>
              <a class="dropdown-button btn-floating btn-flat waves-effect waves-light  pink accent-2 white-text" href="#!" data-activates="dropdown2"><i class="mdi-file-cloud-download"></i></a>
              <p>Dropdown</p>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
</div>