<form>
    <div>
        <mz-card>
        <mz-card-title>
            Add Proveedor
        </mz-card-title>
        <mz-card-content>
            <div class="row"> 
            <mz-input-container class="col s12 m4">
                <input mz-input required
                id="protocolo"
                name="protocolo"
                type="text"
                [label]="'Nombres'"
                [(ngModel)]="protocolo">
            </mz-input-container>
            </div>   
        </mz-card-content>
        </mz-card>
    </div>
</form>