.letra-bold {
    font-weight: bold;
}

#btnAnularCertificado{
    
}

.titulo_celda{
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

.titulo_codigo{
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
}

.dictamen{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}