<div id="loading">
    <div id="loadingcontent">
        <p id="loadingspinner">
            <mz-spinner
                class="valign center-align col s4"
                [size]="'big'">
            </mz-spinner>
            <br><br>
            Cargando Información ... 
        </p>
    </div>
</div>

<mz-parallax class="header-background" [height]="170">
    <img src="assets/images/dark-material-bg.jpg">
</mz-parallax>

<div id="preview" class="header-content valign-wrapper lafar-light">
    <img class="image-user circle" src="assets/images/userlafar.png">
    <div class="nombre-user">AGREGAR NUEVO CERTIFICADO</div>
</div>

<div class="contenido-principal">
    <!--<form #certificadoPTForm = "ngForm" novalidate>-->
        <mz-card>
            <mz-card-content>
                <nav style="background: #CFD8DC; color: #0d47a1; padding-right: 10px;">
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <ul *ngIf="!reimpresion" id="nav-mobile" class="left hide-on-med-and-down">
                                <form (ngSubmit)="onLoadCertificado()">
                                <li><a href="javascript:void(0)" type="submit"><i style="color: #0d47a1;" class="mdi-action-search"></i></a></li>
                                <li>
                                    <mz-input-container class="col s12 m12">
                                        <input mz-input
                                            [label]="'Ingrese Numero de Lote'"
                                            id="numero_lote"
                                            name="numero_lote"
                                            style="width: 300px;"
                                            type="text"
                                            [(ngModel)]="numero_lote">
                                    </mz-input-container>
                                </li>
                                </form>
                            </ul>
                            <ul class="right hide-on-med-and-down">
                                <li>
                                    <mz-switch-container>
                                    <input mz-switch
                                        [off]="labelOffTC"
                                        [on]="labelOnTC"
                                        [(ngModel)]="reimpresion"
                                        (change)="cambiarTipoImpresionCertificado()"
                                        type="checkbox">
                                    </mz-switch-container>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <br>
                <div class="row">
                    <mz-input-container class="col l4 s12 m4">
                        <input mz-input required
                            id="codigo_certificado"
                            name="codigo_certificado"
                            type="text"
                            [label]="'Codigo de Certificado'"
                            [(ngModel)]="certificado.codigo_certificado">
                    </mz-input-container>

                    <mz-datepicker-container class="col l4 s12 m4">
                        <input mz-datepicker
                        id="fecha_analisis"
                        name="fecha_analisis"
                        type="text"
                        [label]="'Fecha de Analisis'"
                        [options]="options"
                        [placeholder]="'Ingrese Fecha del Analisis'"
                        [(ngModel)]="certificado.fecha_analisis"
                        required>
                    </mz-datepicker-container>

                    <div style="padding: 12px 10px" class="col l4 s12 m4">
                        <ng2-completer 
                            (selected)="onSelectProducto($event)"    
                            [datasource]="productosData"
                            [minSearchLength]="0"
                            [maxChars]="10"
                            [inputClass]="'form-control'"
                            [placeholder]="'Codigo o Nombre del Producto'"
                            [matchClass]="'match'"
                            [autofocus]="true"
                            [textSearching]="false">
                        </ng2-completer>
                    </div>
                    
                </div>
                <div class="row">
                    <div style="padding: 12px 10px" class="col l4 s12 m4">
                        <ng2-completer 
                            (selected)="onSelectAnalista($event)"
                            [datasource]="analistaData"
                            [minSearchLength]="0"
                            [maxChars]="10"
                            [inputClass]="'form-control'"
                            [placeholder]="'Nombre de Analista'"
                            [matchClass]="'match'"
                            [autofocus]="true"
                            [textSearching]="false">
                        </ng2-completer>
                    </div>

                    <mz-input-container class="col l2 s12 m2">
                        <input mz-input required
                            id="codigo_analista"
                            name="codigo_analista"
                            type="text"
                            [label]="'Codigo Analista'"
                            [(ngModel)]="certificado.codigo_analista">
                    </mz-input-container>

                    <mz-datepicker-container class="col l3 s12 m3">
                        <input mz-datepicker
                        id="fecha_fabricacion"
                        name="fecha_fabricacion"
                        type="text"
                        [label]="'Fecha de Fabricacion'"
                        [options]="options"
                        [placeholder]="'Ingrese Fecha del Fabricacion'"
                        [(ngModel)]="certificado.fecha_fabricacion"
                        required>
                    </mz-datepicker-container>

                    <mz-datepicker-container class="col l3 s12 m3">
                        <input mz-datepicker
                        id="fecha_vencimiento"
                        name="fecha_vencimiento"
                        type="text"
                        [label]="'Fecha de Vencimiento'"
                        [options]="options"
                        [placeholder]="'Ingrese Fecha del Vencimiento'"
                        [(ngModel)]="certificado.fecha_vencimiento"
                        required>
                    </mz-datepicker-container>
                </div>

                <div class="row">
                    <mz-input-container class="col l3 s12 m3">
                        <input mz-input required
                            id="tipo_certificado"
                            name="tipo_certificado"
                            type="text"
                            [label]="'Tipo de Certificado'"
                            [(ngModel)]="certificado.tipo_certificado">
                    </mz-input-container>

                    <mz-input-container class="col l3 s12 m3">
                        <input mz-input required
                            id="lote"
                            name="lote"
                            type="text"
                            [label]="'Nro Lote'"
                            [(ngModel)]="certificado.lote">
                    </mz-input-container>

                    <mz-input-container class="col l3 s12 m3">
                        <input mz-input required
                            id="cantidad_fabricada"
                            name="cantidad_fabricada"
                            type="text"
                            [label]="'Cantidad Fabricada'"
                            [(ngModel)]="certificado.cantidad_fabricada">
                    </mz-input-container>

                    <mz-input-container class="col l3 s12 m3">
                        <input mz-input required
                            id="cantidad_liberada"
                            name="cantidad_liberada"
                            type="text"
                            [label]="'Cantidad Liberada'"
                            [(ngModel)]="certificado.cantidad_liberada">
                    </mz-input-container>
                </div>

                <div class="row">
                    
                    <mz-input-container class="col l4 s12 m4">
                        <input mz-input required
                            id="protocolo"
                            name="protocolo"
                            type="text"
                            [label]="'Protocolo'"
                            [(ngModel)]="certificado.protocolo">
                    </mz-input-container>

                    <mz-input-container class="col l4 s12 m4">
                        <input mz-input required
                            id="tipo_clasificacion_producto"
                            name="tipo_clasificacion_producto"
                            type="text"
                            [label]="'Codigo de Clasificación'"
                            [(ngModel)]="certificado.tipo_clasificacion_producto">
                    </mz-input-container>

                    <mz-select-container class="col l4 s12 m4">
                        <select mz-select
                            id="dictamen"
                            [label]="'Dictamen'"
                            [placeholder]="'Seleccione un dictamen'"
                            [(ngModel)]="certificado.dictamen">
                            <option>APROBADO</option>
                            <option>REPROBADO</option>
                        </select>
                    </mz-select-container>
                </div>

                <div class="row">
                    <mz-input-container class="col l8 s12 m12">
                        <input mz-input required
                            id="concentracion"
                            name="concentracion"
                            type="text"
                            [label]="'Concentración'"
                            [(ngModel)]="certificado.concentracion">
                    </mz-input-container>

                    <mz-input-container class="col l4 s12 m12">
                        <input mz-input required
                            id="forma_farmaceutica"
                            name="forma_farmaceutica"
                            type="text"
                            [label]="'Forma Farmaceutica'"
                            [(ngModel)]="certificado.forma_farmaceutica">
                    </mz-input-container>
                </div>
            </mz-card-content>
        </mz-card>

        <mz-card>
            <mz-card-content>
                <mz-switch-container>
                <input mz-switch
                    [off]="labelOff"
                    [on]="labelOn"
                    [(ngModel)]="esCopia"
                    (change)="copiarResultados()"
                    type="checkbox">
                </mz-switch-container>
                <hr>
                <mz-tab [fixedTabWidth]="'true'">
                    <mz-tab-item [class]="'col s12'" [label]="'Caracteristicas Fisicas'">
                        <div class="row" *ngFor="let c of lccf">
                            <mz-input-container  class="col l6 s12 m12">
                                <input mz-input required
                                id="{{c.especificacion}}"
                                name="{{c.especificacion}}"
                                type="text"
                                [label]="c.descripcion"
                                placeholder="Introduzca un valor para {{c.descripcion}}"
                                [(ngModel)]="c.especificacion">
                            </mz-input-container>
                            <mz-input-container class="col l6 s12 m12">
                                <input mz-input required
                                    id="{{c.resultado}}"
                                    name="{{c.resultado}}"
                                    type="text"
                                    [label]="'Resultado'"
                                    placeholder="Introduzca un Resultado para {{c.descripcion}}"
                                    [(ngModel)]="c.resultado">
                            </mz-input-container>
                        </div>
                    </mz-tab-item>
                    <mz-tab-item [class]="'col s12'" [label]="'Analisis Quimico'">
                        <div class="row" *ngFor="let c of lcaq">
                            <mz-input-container class="col l6 s12 m12">
                                <input mz-input required
                                id="{{c.especificacion}}"
                                name="{{c.especificacion}}"
                                type="text"
                                [label]="c.descripcion"
                                placeholder="Introduzca un valor para {{c.descripcion}}"
                                [(ngModel)]="c.especificacion">
                            </mz-input-container>
                            <mz-input-container class="col l6 s12 m12">
                                <input mz-input required
                                    id="{{c.resultado}}"
                                    name="{{c.resultado}}"
                                    type="text"
                                    [label]="'Resultado'"
                                    placeholder="Introduzca un Resultado para {{c.descripcion}}"
                                    [(ngModel)]="c.resultado">
                            </mz-input-container>
                        </div>
                    </mz-tab-item>
                    <mz-tab-item [class]="'col s12'" [label]="'Control Microbiologico'">
                        <div class="row" *ngFor="let c of lccm">
                            <mz-input-container class="col l6 s12 m12">
                                <input mz-input required
                                id="{{c.especificacion}}"
                                name="{{c.especificacion}}"
                                type="text"
                                [label]="c.descripcion"
                                placeholder="Introduzca un valor para {{c.descripcion}}"
                                [(ngModel)]="c.especificacion">
                            </mz-input-container>
                            <mz-input-container class="col l6 s12 m12">
                                <input mz-input required
                                    id="{{c.resultado}}"
                                    name="{{c.resultado}}"
                                    type="text"
                                    [label]="'Resultado'"
                                    placeholder="Introduzca un Resultado para {{c.descripcion}}"
                                    [(ngModel)]="c.resultado">
                            </mz-input-container>
                        </div>
                    </mz-tab-item>
                </mz-tab>
            </mz-card-content>
        </mz-card>

        <mz-card>
            <mz-card-content>
                <mz-textarea-container class="col s12">
                    <textarea mz-textarea
                    id="observaciones"
                    name="observaciones"
                    type="text"
                    [label]="'Observaciones'"
                    placeholder="Introduzca una Observación"
                    [(ngModel)]="certificado.observaciones"
                    [length]="255">
                    </textarea>
                </mz-textarea-container>
            </mz-card-content>
        </mz-card>
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <button mz-button 
                [float]="true" 
                [large]="true" 
                [disabled]="false" 
                class="green" 
                type="button"
                (click)="guardarCertificado()">
                <i class="large mdi-action-done"></i>
            </button>
        </div>
    <!--</form>-->
</div>

<simple-notifications></simple-notifications>
