<div class="contenido-menu">
    <div class="item-menu">
        <mz-card>
            <mz-card-title>
                <img class="image-menu" src="/assets/images/menus/almacenmp.png" alt="">
            </mz-card-title>

            <mz-card-content>
                <span class="titulo">Materia Prima</span>
            </mz-card-content>
            <mz-card-action>
                <a class="blue-text" href="#">Solidos</a>
                <a class="blue-text" href="#">Liquidos</a>
                <a class="blue-text" href="#">SemiSolidos</a>
            </mz-card-action>
        </mz-card>
    </div>

    <div class="item-menu">
        <mz-card>
            <mz-card-title>
                <img class="image-menu" src="/assets/images/menus/almacenpt.png" alt="">
            </mz-card-title>

            <mz-card-content>
                <span class="titulo">Producto Terminado</span>
            </mz-card-content>
            <mz-card-action>
                <a class="blue-text" href="#">Solidos</a>
                <a class="blue-text" href="#">Liquidos</a>
                <a class="blue-text" href="#">SemiSolidos</a>
            </mz-card-action>
        </mz-card>
    </div>
</div>