.item ul.card-action-buttons {
    margin: -26px 10px 0 0;
    text-align: right;
}

tr.border_bottom td{
    border-bottom: 1pt solid #808080;
    border-top: 1pt solid #808080;
}

.ng-dropdown-panel {
    min-width: 100%;
}

.ng-select.custom .ng-value-container { height: 10px; }